<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite" parallel="false">
    <!--beforeTest-->
    <test name="test">
        <parameter name="url" value="http://www.baidu.com"></parameter>
        <classes>
            <class name="com.qq.cases.BaiduTestByLu"/>
        </classes>
    </test>
</suite>
