<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite" parallel="false">
    <!--beforeTest-->
    <test name="test">
        <classes>
            <!--beforeClass-->
            <class name="com.qq.cases.BaiduTest"/>
            <class name="com.qq.cases.SoTest"/>
            <class name="com.qq.cases.CommonTest"/>
        </classes>
    </test>
</suite>
